body {
    font-family: Helvetica,Arial,sans-serif;
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}
#fullscreen {
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  display: block;
  position: fixed;
  z-index: -999;
  opacity: 0.5;
}
#avatar {
    height: 180px;
    border-radius: 100%;
    border: 3px solid white;
    margin-bottom: 40px;
}
h1 {
    color: white;
    font-weight: normal;
    letter-spacing: 0.1em;
    font-size: 4em;
    font-family: Helvetica;
    margin: -10px 0;
}
h3 {
    color: white;
    padding-bottom: 20px;
    font-weight: bold;
}
.content {
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
li {
    border-radius: 100%;
    border: 2px transparent;
    color: white;
    margin: 8px;
    display: inline-block;
    list-style: none;
    width: 65px;
    height: 65px;
}
li:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.25);
}
a {
    color: white;
    padding: 15px;
    text-decoration: none;
}
.description {
    display: none;
}

@media (max-width: 450px) {
ul {
    text-align: center;
}
li {
    border-radius: 0%;
    border: none;
    color: white;
    margin: 8px;
    display: block;
    list-style: none;
    margin: 10px 0px;
    text-align: center;
    height: auto;
    width: auto;
}
li:hover {
    background-color: none;
    transition: none;
}
a {
    text-align: justify;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 15px;
    padding-left: 30px;
    width: 70%;
}
a:hover {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
}
.description {
    display: inline-block;
    color: white;
    font-family: Helvetica;
    margin-left: 40px;
    font-weight: normal;
}
.content {
    padding-top: 60px;
}
}
